.image-textBlock{

    padding: 4rem 0;

    .row{
        overflow-x: hidden;
        overflow-y: hidden;
    }

    h3{
        @include font($onm,2.4rem,$primary-color,150%);
        letter-spacing: -0.04em;
        margin-bottom: .8rem;
    
    }
    .col-lg-12{
        padding-top: 2rem;
    }

    &--career{
        .section-title{
            max-width: 65%;
        }
    }
    
    .row{
        align-items: center;
    }

    .button{
        padding: 1.6rem 4rem;
        margin-top: 5.4rem;
    }

    &__left{

        @include respondmax(lg){
            padding-left: 0!important;
            padding-right: 0!important;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 4rem;
        }
    }

   

    &__right{
        position: relative;
        overflow: hidden;

        .img-box{
            overflow: hidden;
        }

        &:hover{
            .image-textBlock__img{
                transform: scale(1.05);
            }
        }
    }
    &__vector{
        position: absolute;
        z-index: 20;
        bottom: 0;
        right: 0;
        object-fit: cover;

        @include respondmax(lg){
            width: 60%;
            object-fit: cover;
        }
    }

    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 1s ease-in-out;

        @include respondmax(sm){
            height: 36rem;
        }
    }

    &--firstText{
        .image-textBlock__left{
            padding-right: 8rem;
        }
    }

    &--firstImage{
        .image-textBlock__left{
            padding-left: 8rem;
        }

        .image-textBlock__vector{
            left: 0;
            right: auto;
        }
    }
}