.button{
	display: inline-block;
    text-decoration: none;
    padding: 1.6rem 0;
    text-align: center;
    text-transform: uppercase;
    @include font($onm,1.4rem,#fff,150%);
    transition: all .2s ease;
    font-weight: 500;

    &:hover{
        text-decoration: none;
    }

    &-dark{
        color: #fff;
        background-color: $primary-color;
        border:1px solid $primary-color;

        &:hover{
            color: $primary-color;
            background-color: #fff;
        }
    }

    &-light{
        color: $primary-color;
        background-color: #fff;
        padding: 1.6rem 2.4rem;
    }
}

.scrollBtn{
    display: inline-block;
    position: absolute;
    top: -7rem;
    left: auto;
    right: calc((100% - 1200px) / 2);
    transition: all .2s ease-in-out;

    @include respondmax(lg){
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
    }

    img{
        object-fit: cover;

        @include respondmax(lg){
            width: 20rem;
        }
    }
}