<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4" data-aos="fade-up" data-aos-duration="1500">
        <a href="" class="footer__logo">
          <img src="./img/logo-footer.svg" alt="">
        </a>

        <p class="footer__address">
          <span>
            Address: </span> Kairos Oil Trading Pte Ltd, 9 Temasek Boulevard, Suntec Tower 2, #29-02A, Singapore 038989
          
        </p>

        <div class="footer__social">
          <h4 class="footer__title">
            fOLLOW US
          </h4>
          <a href="">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a href="">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
          <a href="">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </div>
      </div>

      <div class="col-lg-8" data-aos="fade-up" data-aos-duration="1500">
        <div class="col-lg-3">
          <h4 class="footer__title">
            ABOUT US
          </h4>
          <a href="" class="footer__link" >
            Caravel Trading
          </a>
          <a href="" class="footer__link" style="margin-bottom: 2.8rem;">
            Media Room
          </a>
          <h4 class="footer__title">
            contacts
          </h4>
          <a href="" class="footer__link">
            Pharetra quis integer tortor
          </a>
          <a href="" class="footer__link">
            Pharetra blandit
          </a>
          <a href="" class="footer__link">
            A viverra morbi
          </a>
          <a href="" class="footer__link">
            Sit vulputate elit
          </a>
        </div>
  
        <div class="col-lg-3">
          <h4 class="footer__title">
            our servıces
          </h4>
          <a href="" class="footer__link">
            Crude Oil
          </a>
          <a href="" class="footer__link">
            Distillates
          </a>
         
          <a href="" class="footer__link">
            Fuel & Blendstocks
          </a>
          <a href="" class="footer__link">
            Marine Fuel Supply
          </a>
          <a href="" class="footer__link">
            Base Oils, Bitumen, Petrochemicals
          </a>
          <a href="" class="footer__link">
            Aviation Fuel & Lubricants
          </a>
          <a href="" class="footer__link">
            SWD & Fuel Testing
          </a>
        </div>
        <div class="col-lg-3">
          <h4 class="footer__title">
            career
          </h4>
          <a href="" class="footer__link">
            Molestie nam amet
          </a>
          <a href="" class="footer__link">
            Neque ac varius
          </a>
         
          <a href="" class="footer__link">
            Dignissim in
          </a>
          <a href="" class="footer__link">
            Sagittis tellus
          </a>
          
        </div>
      </div>
    
    </div>
  </div>

  <img src="./img/vector-grey.png" alt="" class="footer__vector" data-aos="fade-left" data-aos-duration="1500">
</footer>