// $aznb:jaznb;

$on:OktaNeue-Regular;
$onm:OktaNeue-Medium;
$onsm:OktaNeue-SemiBold;
$onb:OktaNeue-Bold;
$onbl:OktaNeue-Black;


$primary-color:#003B4A;
$secondary-color:#3FAEFF;
$text-color:rgba(0, 0, 0, 0.4);